@font-face {
    font-family: 'Andale Mono';
    src:url('Andale Mono');
}

body{
    height: 100vm;
    background: black;

}

.virtual_room {
    cursor: url('img/target.png'), auto;
}

#object_page {
    position:absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    background-color: black;
    z-index: 4;
}

#object_display {
    /*
    margin: 0 auto;
    width: 50%;
    height: 75%;
    */
    border: 1px solid red;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 80%;
    position:absolute;
    top: auto; right: 0; bottom: 0; left: 0;
    margin: auto;
    z-index: 5;
}

#room {
    background: url(scenes/room0.png) no-repeat;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position:relative;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
}

#desk1 {
    background: url(scenes/desk1.png) no-repeat;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position:absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;

    font-family: Andale Mono;
    font-size: 18px;
    line-height: 1.5;

}

#desk2 {
    background: url(scenes/desk2.png) no-repeat;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position:absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;

    font-family: Andale Mono;
    font-size: 18px;
    line-height: 1.5;

}

#shelf {
    background: url(scenes/shelf.png) no-repeat;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position:absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;

    font-family: Andale Mono;
    font-size: 18px;
    line-height: 1.5;

}

/*room*/

#room_desk1 {
    width: 23%;
    height: 22%;
    top: 56%;
    left: 20%;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}

#room_desk2 {
    width: 18%;
    height: 30%;
    top: 52%;
    left: 42%;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}

#room_shelf {
    width: 20%;
    height: 36%;
    top: 64%;
    left: 61%;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}

/*desk1*/

#perfume {
    width: 11%;
    height: 27%;
    top: 49%;
    left: 11%;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}

#mirror {
    width: 22%;
    height: 37%;
    top: 43%;
    left: 25%;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}

#camera {
    width: 17%;
    height: 16%;
    top: 69%;
    left: 76%;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}

/*desk2*/

#lamp {
    width: 15%;
    height: 47%;
    top: 35%;
    left: 16%;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}

#ipad {
    width: 13%;
    height: 16%;
    top: 84%;
    left: 19%;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}

#receipt {
    width: 7%;
    height: 9%;
    top: 75%;
    left: 32%;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}

#laptop {
    width: 19%;
    height: 31%;
    top: 34%;
    left: 35%;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}

#diary {
    width: 4%;
    height: 28%;
    top: 55%;
    left: 55%;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}


#calendar {
    width: 11%;
    height: 28%;
    top: 40%;
    left: 73%;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}

/*shelf*/

#snack {
    width: 16vw;
    height: 26vh;
    top: 37vw;
    left: 27vh;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}

#book {
    width: 16vw;
    height: 28vh;
    top: 37%;
    left: 43%;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}

#emptybox {
    width: 16%;
    height: 28%;
    top: 37%;
    left: 53%;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}


#ramen {
    width: 16%;
    height: 28%;
    top: 60%;
    left: 27%;
    position: absolute;
    border: 1px solid red;
    font-family: Andale Mono;
}





@media (min-width:1800px) {

    .cell {
        width: 25%;
    }
}

@media (max-width:1200px) {

    .cell {
        width: 50%;
    }
}

@media (max-width:600px) {

    .cell {
        width: 100%;
    }


}

